.game-instructions {
  margin: 15px;
  padding-top: 30vh;
}

.game-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

canvas {
  outline: 4px
  solid black;
  cursor: none;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
}
